﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage_Test.master" AutoEventWireup="false" CodeFile="Term_Conditions.aspx.vb" Inherits="Term_Conditions" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <br />
    <br />
    <br />
     <div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="aboutus">
                         
                        <h2 class="aboutus-title">TERMS & CONDITION.</h2>
                        <h2 class="aboutus-title" style="font-size:20px;">FARETRIPBOX.COM</h2>
                        <p class="aboutus-text" style="color:#ccc;">Latest update: DEC 16, 2016</p>

                          
                        <p class="aboutus-text">We welcome you to our website. References to the Site are deemed to include derivatives thereof, including but not necessarily limited to mobile websites and applications. The Terms & Conditions ?as defined below- apply to our services, directly or indirectly made available to you through whatever means, including online reservations, customer service requests or otherwise. By accessing, browsing and using the Site and/or by making a reservation through
Our Website, you acknowledge and agree having read, understood and agreed to the Terms & Conditions. If you do not agree to the Terms & Conditions, please cease use of the Site immediately. The Terms & Conditions ? as may be amended from time to time ? constitute the entire agreement, and supersede any other agreements or understandings (oral or written), between you and us with respect to their subject matters unless explicitly stated otherwise.
</p>

                          <h2 class="aboutus-title">1. Scope of our Service --- Information on the Site:</h2>
                        <p class="aboutus-text">Through the Site, Faretripbox provides an online platform through which you can browse different types of lodging and temporary accommodation, including but not necessarily limited to hotels, hostels, serviced apartments, B&Bs, rooms for rent, etc. (collectively, the ?Hotel(s)?) and make reservations with such Hotels. By making a booking through the Site, you make an offer to book a reservation at the price listed for such reservation and such other terms and conditions stated on the Site, which shall become a binding contract when accepted by Faretripbox, which in turn means the reservation has been confirmed by the Hotel. We will indicate the acceptance of your Hotel booking via an e-mail confirmation (with a voucher for prepaid Hotels). We reserve the right to reject bookings as set out below
When rendering our services, the information that we disclose about Hotels is based on the information provided to us by our suppliers or providers (including but not necessarily limited to the Hotels, their representatives, distributors, destination management companies (DMCs), channel managers, partners, etc.). As such, the Hotels or their representatives are given access to an extranet or other connectivity solution through which they are fully responsible for updating all rates, availability, description, pictures, booking conditions, hotel policies and other information which is displayed on the Site. Although we will use commercially reasonable skill and care in performing our services we will not verify if, and cannot guarantee that, all information is accurate, complete, correct or up to date, nor can we be held responsible for any errors (including manifest and typographical errors), interruptions (whether due to any (temporary and/or partial) breakdown, repair, upgrade or maintenance of the Site or otherwise), inaccurate, misleading or untrue information or non-delivery of information. Each Hotel remains responsible at all times for the accuracy, completeness and correctness of the Hotel information displayed on the Site. Changes in market conditions or circumstances may occur on short notice which may make information displayed on the Site inaccurate or outdated. In case of problems, our Customer Service will use its commercially reasonable efforts to assist you and serve as a point of contact with the Hotel.
The Site does not constitute and should not be regarded as a recommendation or endorsement of (the quality, service level or rating of) any Hotel listed on the Site. We hereby expressly disclaim any representation, warranty or undertaking in relation to the quality, status or adequacy of any Hotel listed on the Site. The Hotels can be ranked on the Site according to different criteria (star rating, reviews, etc.). The default ranking is based on an automated algorithm which may be updated or amended from time to time.
We reserve the right not to accept customers or bookings (or in exceptional cases to cancel confirmed ones) at our discretion and for whatever (legal) reason without the need to justify such refusal. Typical reasons for rejecting a customer or booking include, but are not limited to: Hotel request, breach of the Terms & Conditions, trade or economic sanctions, embargoes, legal restrictions, (suspicions of) fraud or theft, suspected criminal activity, suspicious bookings, submission by customer of misleading or erroneous information, credit card problems, inappropriate behavior, threats, insults, refusal to supply information, practical obstacles, communication problems, obvious errors (see below), history, blacklisting by governments or international organizations (USA, EU, UN, Singapore,?), etc. In case a booking is rejected or cancelled after booking confirmation by Faretripbox and a payment has already been made, you will receive a refund of the total booking value. We also reserve the right to bar (?blacklist?) users from the Site, on a permanent or temporary basis, at our discretion. Any such blacklisted user must not attempt to use the Site under any other name or through any other user. See also below for our fraud prevention mechanisms. In rare cases, we may also have to cancel or reject a booking due to ?obvious errors?, independent of the origin of such errors. For clarity, an obvious error is a mistake on the Site (e.g. in terms of price) which a reasonable person would not consider to be normal. The amount charged will be reimbursed without charge in such case. Whether to cancel or reject a booking for this reason is in Faretripbox sole discretion.
Please note that suspected group bookings can also be rejected as most Hotels have specific procedures for group bookings. Contact our Customer Service team for more information.
Circumstances such as ongoing renovations, Hotel booking errors, and specific guest needs can affect the quality of your stay. Be sure to let the Hotel know any special requests or requirements you have at check-in.
</p>

                          <h2 class="aboutus-title">A word about star ratings</h2>
                        <p class="aboutus-text">The Hotel star ratings are provided for your information only. The star ratings are based on information we have received from our suppliers, including the Hotels. We do not independently verify star ratings. A star rating is only indicative of the level of comfort you can expect to find in a particular Hotel, with a higher star rating generally being indicative of a higher level of comfort and amenities. For more detailed information, please check the detailed description on the Site. Please be aware that star ratings can vary greatly on the basis of location, available alternatives, local market conditions, practices or other circumstances. Thus, it is possible that a star rating in one particular country or city is not comparable to the same star rating in another country or city due to such circumstances. Star ratings do not necessarily reflect all the amenities or services that might be available at a Hotel, and some amenities and features may not be available in every room or at every property with a particular star rating. If there are particular amenities or features that are important to you, please contact our Customer Service and inquire as to the availability of such amenities or features.</p>

                          <h2 class="aboutus-title">2. Use of the Site</h2>
                        <p class="aboutus-text">Faretripbox grants you a limited, restricted, personal, non-transferable, non-sublicenseable, revocable license to access and use the Site only as expressly permitted in the Terms & Conditions. Except for this limited license, we do not grant you any other rights or license with respect to the Site; any rights or licenses not expressly granted herein are reserved. The content and information on the Site, as well as the software and infrastructure used to provide such content and information, is proprietary to Faretripbox or its suppliers and providers, including the Hotels. You may only use the Site to make bona fide and legitimate enquiries or bookings and you hereby undertake not to make any speculative, false or fraudulent bookings or any reservations in anticipation of demand. You undertake that the payment details you provide us with in making a booking are fully correct. You also undertake to provide correct and accurate e-mail, postal and/or other contact details to Faretripbox and acknowledge that Faretripbox may use these details to contact you in the event that this should prove necessary.</p>
                        <p>Accordingly, as a condition of using the Site, you agree not to use the Site or its contents or information for any commercial or non-personal purpose (direct or indirect) or for any purpose that is illegal, unlawful or prohibited by the Terms of Use. Except with our prior written authorization, you agree not to modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell or re-sell any information, software, products, or services obtained from the Site. In addition, you agree not to: use the Site or its contents for any non-authorized commercial purpose;
make any speculative, false, or fraudulent booking; access, monitor or copy any content or information of the Site using any robot, spider, scraper or other automated means or any manual process for any purpose without our express prior written permission;
</p>
                        <p>violate the restrictions in any robot exclusion headers on the Site or bypass or circumvent other measures employed to prevent or limit access to the Site; take any action that imposes, or may impose, in our discretion, an unreasonable or disproportionately large load on our infrastructure
deep-link to any portion of the Site (including, without limitation, purchase paths) for any purpose without our express prior written permission; re-sell, use, copy, monitor (e.g. spider, scrape), display, download or reproduce any content or information, software, products or services available on the Site for any commercial or competitive activity or purpose; or otherwise incorporate any part of the Site into any other website without our prior written authorization; deliver any unlawful (according to any and all applicable laws or regulations) postings to or through the Site, or any postings which advocate illegal activity; deliver, or provide links to, any postings containing material that could be considered harmful, obscene, pornographic, indecent, lewd, violent, abusive, profane, racist, discriminating, insulting, threatening, tortuous, harassing, hateful or otherwise objectionable; deliver or provide links to, any postings containing defamatory, slanderous, false or libelous material; deliver any posting that infringes or violates any intellectual property or other right of any entity or person, including, without limitation, copyrights, patents, trademarks, laws governing trade secrets, rights to privacy, or publicity; deliver any posting that you do not have a right to make available under law or contractual or fiduciary relationships; impersonate another person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity, or adopt a false identity if the purpose of doing so is to mislead, deceive, or defraud another; manipulate identifiers, including by forging headers, in order to disguise the origin of any posting that you deliver; use the Site in any manner which could damage, disable, overburden, or impair or otherwise interfere with the use of the Site or other users' computer equipment, or cause damage, disruption or limit the functioning of any software, hardware, or telecommunications equipment; attempt to gain unauthorized access to the Site, any related website, other accounts, computer system, or networks connected to the Site, through hacking, password mining, or any other means; obtain or attempt to obtain any materials or information through any means not intentionally made available through the Site, including harvesting or otherwise collecting information about others such as email addresses;
engage in any deceptive practices intended to manipulate the organic Search Engine Results Page (SERP) or employ search engine optimization (?SEO?) techniques considered to be against common search engine guidelines. SEO practices considered unethical, or ?black hat? (aka ?spamdexing?) include, though are not limited to cloaking, meta data and title tags, content scraping, link schemes, Google bombs, keyword stuffing, hidden text and links, doorway and cloaked pages, link farming or schemes, blog comment spam, etc.; or
do anything else which could cause damage to the Site, Faretripbox employees, Faretripbox reputation, or would otherwise have a negative impact. Unless otherwise expressly permitted, websites may not hyperlink to any page beyond the homepage of the Site or frame the Site or any web page or material herein, nor may any entity hyperlink any aspect of the Site in an email for commercial purposes without the express written permission of Faretripbox. By making a reservation on the Site, you represent and warrant that you are not covered by any international sanction program.
</p>

                        <h1 class="aboutus-title">3. Prices, Additional Charges and Best Price Guarantee:</h1>
                        <h2 class="aboutus-text" style="color: #ccc;font-size: 18px;">A. Prices and Best Price Guarantee</h2>
                        <p class="aboutus-text">We strive to have the most competitive prices and we want you to pay the lowest price possible for your stay at a Hotel, in case you find a cheaper rate we will offer you the same rate. For a claim to be valid under this guarantee, it must satisfy and be submitted in compliance with all relevant terms and conditions of our Sometimes cheaper rates are available on the Site for a specific stay at a Hotel for the same room type, however, these rates made by Hotels may carry special restrictions and conditions, for example in respect of cancellation and refund. Please check the room type and rate details thoroughly for any such conditions prior to making your reservation. The same room type may have different rates, depending on such restrictions and conditions.</p>

                        <h2 class="aboutus-text" style="color: #ccc;font-size: 18px;">B. Additional Charges by Hotels</h2>
                        <p class="aboutus-text">Please note that all prices on the Site are for your Hotel room reservation only and are for the requested stay dates and for the number of people indicated, unless indicated otherwise. The Hotel room reservations rates are displayed per room and per night. Except where indicated otherwise, Faretripbox will typically display the rate exclusive of tax recovery and service charges (see below for more details) on the Site, and display these additional tax recovery and service charges during the booking path. Without prejudice to what is set out below, you will see the total inclusive price prior to confirming your booking on the last booking page (before the final confirmation screen). Please verify every step of your reservation on the booking form; you can discontinue the booking at any time prior to the final confirmation screen (please see below for post-booking cancellations). What is included in the rate is displayed on the Site (under the Hotel information section or prior to the final booking confirmation) and/or in the confirmation email/voucher. Breakfast is typically not included unless explicitly stated otherwise. Hotel resort and other mandatory fees (see below) and certain local city, tourist or occupancy taxes (when applicable) that are required to be collected directly from guests, are typically not included in the rate unless stated otherwise. Please verify the Hotel description or policies on the Site. Insurance of any kind is never included in the rates. The standard Hotel room reservations are for single or double occupancy, extra beds will usually incur extra charges. The Hotel may also refuse to accept additional persons if not duly informed in advance. Please note that certain Hotels may charge you a so-called additional but mandatory ?resort fee? (or similar) for the use of certain of their services. This resort fee is typically not included in the price, but it will be mentioned in the Hotel description on the Site. You may also be charged directly by the Hotel for energy surcharges, baggage handling fees, newspaper delivery fees, in-room safe fees, tourism fees, or housekeeping fees. The practice to add additional Hotel fees is outside Faretripbox control and occurs in certain markets, including the USA. Needless to say, optional incidental fees and personal consumptions are almost never included, for example, parking charges, minibar charges, phone calls, room service, food & beverage, gala dinners, movie rentals, internet, etc.. During certain high season periods, certain Hotels will add on a compulsory gala dinner (e.g. for New 


Year, Christmas, Chinese New Year, etc). This is not included in the room rate, but will be displayed on the booking form. Please check the ?Hotel Information?, ?Booking Conditions?, ?Cancellation Policy? or similar wording on the Site. When in doubt whether something is included, you can contact our Customer Service team
For certain Hotels, a compulsory hotel transportation or transfer fee will be charged on top of the room rate at the request of the Hotel, or at your option where available. This is especially common for island destinations (e.g. the Maldives) where you need Hotel transportation to reach the Hotel. Please note that Faretripbox does not organize any transportation, this is always organized by and offered by or on behalf of the Hotel, who is responsible for such transportation services, not Faretripbox. Faretripbox does not assume any liability for the quality, safety, frequency or service levels of such transportation services. In some jurisdictions, the Hotels are also required to directly collect a local bed or city tax from the guests. Governments have on occasion issued additional taxes and may ask the Hotels to collect these directly. These charges, if applicable, will be payable by you to the Hotel directly at checkout. Please verify with the Hotel or Customer Service which extra fees are (not) included.
</p>
                        <h2 class="aboutus-text" style="color: #ccc;font-size: 18px;">C. Currency Conversion:</h2>
                        <p class="aboutus-text">Rates may be converted into different currencies for your convenience. Hotel rates provided in a currency other than the currency displayed on the Site are converted to the displayed currency at a rate determined by Faretripbox, which may include a conversion and/or processing fee for certain currencies. The currency and amount you see displayed on the final booking page is the amount Faretripbox will charge to your credit card. You may be given the option to pay in your credit card currency. Your bank may impose additional fees on the transaction, over which Faretripbox has no control. Please note that exchange rates fluctuate daily</p>

                        <h2 class="aboutus-title">A Word on Charges for Taxes and Fees</h2>
                        <p class="aboutus-text">In connection with facilitating your Hotel transaction, the charge to your credit card may include a charge for taxes and fees (?Taxes and Fees?) unless indicated otherwise. This charge includes an estimated amount to recover the amount we pay to the Hotel in connection with your reservation for taxes owed by the Hotel including, without limitation, sales and use tax, occupancy tax, room tax, excise tax, value added tax and/or other similar taxes. In certain locations, the tax amount may also include government imposed service fees or other fees not paid directly to the taxing authorities but required by law to be collected by the Hotel. The amount paid to the Hotel in connection with your reservation for taxes may vary from the amount we estimate and include in the charge to you. The balance of the charge for Taxes and Fees, if any, is a fee we retain as part of the compensation for our services and to cover the costs of your reservation, including, for example, customer service costs. If the balance is negative, we will absorb such difference. The charge for Taxes and Fees varies based on a number of factors including, without limitation, the amount we pay the Hotel and the location of the Hotel where you will be staying, and may include profit that we retain.</p>

                     

                        </div>
                    </div>
                </div>
            </div>
         </div>
</asp:Content>

